body {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* The header section, left side logo and 3 links */
.header-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #1f2937;
  position: sticky;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  color: #f9faf8;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
}

.header-right-links {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
}

ul,
li,
a {
  padding: 0 10px 0 10px;
  display: flex;
  text-decoration: none;
  list-style: none;
  color: #e3e3e3;
}
/* Hero section has title, text and a button, along side a image */
.hero-container {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
  flex-wrap: wrap;
}

.hero-content {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 110px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
  font-family: "Roboto", arial;
}

.hero-button {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  width: 100px;
  background: #3882f6;
  padding: 15px;
  border-radius: 8px;
  color: #eeee;
  font-weight: bold;
}

.hero-text {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
}

/* Information section, has title images and text */
.information-container {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}

.information-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.information-item {
  padding: 10px 30px;
  margin: 10px 20px;
  gap: 10px;
}

.information-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  height: fit-content;
  width: 100%;
  margin: 0;
}

.image-description {
  font-size: 18px;
  max-width: 150px;
  color: #4d4d4d;
}

/* Screen size changes */
@media only screen and (max-width: 1410px) {
  /* styles for browsers smaller than 960px; */
  .hero-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: flex;
    margin: 0;
    padding: 50px;
  }

  .hero-button {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1399px) {
  /* styles for browsers smaller than 960px; */
  .hero-content {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 18px;
  }
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-button {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
}
